<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <% include %>

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="navbar fa fa-bars"></i>
    </label>
    <label class="logo">Admin</label>
    
    <ul class="navlist visibility">
      <li><a class="me-i" href="/">Home</a></li>
      <li><a class="me-i"><label for="show" class="show-btn">Create</label></a></li>
      <li><a class="me-i" href="mailto:harshdixitofficial@gmail.com?subject = Feedback">Feedback</a></li>
    </ul>
  </nav>

<section class="main-sec">
   <input type="checkbox" id="show">
    <div class="slider-images">
      <label for="show" class="close-btn fa fa-times"></label>
      <div class="text">Update</div>
      <form action="/updateslide" class="formsl" method="post" enctype="multipart/form-data">
      <div class="data"> 
        <label>Description</label>
         <input type="text" class="description" name="description" placeholder="Description"/>
        </div>
        <div class="data"> 
          <label>Token</label>
        <input type="text" class="token" name="token" placeholder="Token"/>
      </div>
      <div class="data"> 
        <label>Link</label>
        <input type="text" class="link" name="link" placeholder="link"/>
      </div>
      <div class="data"> 
        <label>File</label>
        <input type="file" class="imageinput" name="image"/>
      </div>
   <output name="warning" class="warning">fill rquired fields</output>
        <input class="btn" type="submit" value="Update" />
     
      </form>
    </div>

    

    <div class="slide-list">
      <h2>Slide Images</h2>
       <table class="record">
        <thead class="heading">
          <th>Token</th>
          <th>ID</th>
          <th>username</th>
          <th>Image</th>
          <th>Description</th>
          <th>Date</th>
          <th>Delete</th>


        </thead>

        <% posts.reverse().forEach(function(elem){ %>
          <% if(elem.imageUrl != "" || elem.token == "slide"){ %>
<tbody>
  <tr></tr>
  <form action="/admin/<%= elem._id %>" method="post">
    <td data-label="Token"><output name="token"><%= elem.token %></output></td>
        <td data-label="ID"><output name="id"><%= elem._id %></output></td>
        <td data-label="Username"><output name="username"><%= elem.username %></output></td>
        <td data-label="Image"><output name="img"><img   class="img-col"src="/images/uploads/<%= elem.imageUrl %>" alt=""></output></td>
        <td data-label="Description"><output name="des"><%= elem.description %></output></td>
        <td data-label="Date"><output name="date"><%= elem.date %></output></td>
        <td data-label="Delete">
        
     <button>  <a href="/delete/<%= elem._id %>">Delete</a></button>
        </td>
      </form>
    </tr>
      </tbody>
      <% } %>
    <% }) %>

       </table>
    </div>

    <div class="update-list"
    >
      <h2>Updates Table</h2>
       <table class="record">
        <thead class="heading">
          <th>Token</th>
        
          <th>username</th>
          <th>Link</th>
          <th>Description</th>
        
          <th>Delete</th>


        </thead>    

        <% posts.forEach(function(elem){ %>
          <% if(elem.link !="" || elem.token == "update" || elem.description != "" ){ %> 
<tbody>

  <form action="/admin/<%= elem._id %>" method="post">
    <tr>
    <td  data-label="Token"><output name="token"><%= elem.token %></output></td>
    
        <td data-label="username"><output name="username"><%= elem.username %></output></td>
        <td data-label="link"><output name="link"><%= elem.link %></output></td>
        <td data-label="Description"><output name="des"><%= elem.description %></output></td>
       
        <td data-label="Delete">
        
     <button>  <a href="/delete/<%= elem._id %>">Delete</a></button>
        </td>
      </tr>
      </form>
  
      </tbody>
      <% } %>
    <% }) %>

       </table>
    </div>

  <dialog  id="open">
    <div></div>
  </dialog>
</section>
    <% include %>

   
  </body>
</html>
